$border-color: gray;
$gutter: 1.8em;

.odc-pipeline-graph {
  background: white;
  padding: 10px;
  margin: 10px 0;
  width: 80vw;
  height: 20em;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;

  // reset
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & .odc-pipeline-stages {
    display: inline-flex;
  }

  & .odc-pipeline-task {
    position: relative;
    width: 13em;
    height: 2em;
    white-space: normal;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    padding: 0.5em;

    &.input-node {
      width: 2em;
      height: 2em;
      border-radius: 2em;
      background: $border-color;
      &::after {
        content: '';
        position: absolute;
        transform: translateY(-100%);
        left: 2em;
        bottom: -1em;
      }
    }

    &:not(:first-child) {
      margin-top: 3em;
    }

    & .steps {
      position: absolute;
      top: -4px;
      transform: translateY(-100%);
    }

    & .stepcount {
      margin: 0 4px;
      white-space: nowrap;
    }

    & .status {
      margin: 0 4px;
      border-radius: 100%;
      width: 1.5em;
      height: 1.5em;
      flex-grow: 0;
      flex-shrink: 0;
      order: -1;

      &.done {
        background: green;
      }

      &.running {
        background: blue;
      }

      &.error {
        background: red;
      }

      &.idle {
        background: grey;
      }
    }

    & .truncate {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    & .title {
      flex-grow: 1;
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0px 8px;
    }
    // Connect each task
    &:not(:first-child) {
      &::after,
      &::before {
        content: '';
        top: -4em;
        position: absolute;
        border-bottom: 1px solid $border-color;
        width: $gutter / 2;
        height: calc(5em + 1px);
      }

      // Right connecting lines
      &::after {
        right: 0;
        transform: translateX(100%);
        border-right: 1px solid $border-color;
      }

      // Left connecting lines
      &::before {
        left: 0;
        transform: translateX(-100%);
        border-left: 1px solid $border-color;
      }
    }
  }

  & .odc-pipeline-stage {
    margin: 0 2em;
    &.parallel {
      margin: 0 2em;
      & .odc-pipeline-task {
        &:first-child {
          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 1em;
            border-top: 1px solid $border-color;
            width: $gutter / 2 + 1;
            height: 0;
          }
          &::before {
            left: 0;
            transform: translateX(-100%);
          }
          &::after {
            right: 0;
            transform: translateX(100%);
          }
        }
      }
      &:last-child {
        & .odc-pipeline-task:first-child {
          &::after {
            content: '';
            width: $gutter / 2 + 0.05;
          }
        }
      }
    }

    &:not(:first-child) {
      & .odc-pipeline-task:first-child {
        &::before {
          content: '';
          position: absolute;
          top: 1em;

          border-top: 1px solid $border-color;
          width: $gutter * 1.7 + 1;
          height: 0;
        }
      }
    }
    &:not(.parallel) {
      & .odc-pipeline-task:first-child {
        &::before {
          left: 0;
          transform: translateX(-100%);
        }
      }
    }
  }
}

.odc-pipeline-task-details-list {
  list-style: none;
  padding: 0;
  padding-left: 0px;
}
.odc-pipeline-steps-details {
  list-style: none;
  padding: 0;
  width: 10em;
  &.newClass{
    background: red;
  }
  & > li {
   
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid $border-color;
    background: #fafafa;
    color: black;
    justify-content: left;
    align-items: center;
    display: flex;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
