.codeBaseContainer {
  .codeBaseMainTitle{
    margin:20px 40px;
  }
  .codeBaseHeader{
    margin:20px 40px;
  }
  .co-ip-row{
    font-size:15px;
    margin: 5px 40px;
  }
  .noCodebasesFound{
    margin:30px;
  }
}
