.codebase__container {
  .codebase__title{
    margin:20px 40px;
  }
  .codebase__theader{
    margin:20px 40px;
  }
  .co-ip-row{
    font-size:15px;
  }
  .codebase__notfound{
    margin:5px 30px;
  }
}
