.odc-mega-menu {
  &__expanded {
    position: fixed;
    left: 0%;
    top: 76px;
    height: calc(100vh - 76px);
    width: 400px;
    z-index: 9999;
    background: #ededed; //temporary
    transition: left 500ms linear;
  }

  &__collapsed {
    position: fixed;
    left: -100%;
    top: 76px;
    height: calc(100vh - 76px);
    width: 400px;
    z-index: 9999;
    background: #ededed; //temporary
    transition: left 1s linear;
  }
}

