.odc-import-form {
  &__success-icon {
    color: var(--pf-global--success-color--100);
    font-size: 15px;
    margin-left: 5px;
  }
}

.odc-git-url-info {
  font-weight: var(--pf-global--FontWeight--bold);
  padding: 0px 0px 0px 10px;
}
